.specimen {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.variant {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);

  &__label {
    padding: 0 var(--spacing-xxl);
    font-size: var(--font-size-75);
    color: var(--color-neutral-500);
  }
}

.message-text {
  margin: 0;
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
  color: var(--center-channel-color);
}
